<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Data Visualization</title>
    <style>
        #header{
            margin-left: 60px;
        }

        .nav-item{
            margin-left: 20px;
        }

        .nav-item a:hover{
            color: #0278ae !important;
        }

        #active{
            color: #0278ae !important;
        }

        #predict-btn{
            background-color: #fc7e2f;
            font-weight: 500;
            border: none;
        }

        #predict-btn:hover{
          background-color: #c9672a;
        }

        #content{
            margin-top: 30px;
            width: auto;
            min-height: 700px;
        }
    </style>
  </head>
  <body>
    <!-- NAVBAR HEADER START -->
    <nav id ="header" class="navbar navbar-expand-lg navbar-light bg-light">
        <b>
          <a class="navbar-brand" href="#">HR Project</a>
        </b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a id="active" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Visualization
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Histogram & Boxplot</a>
                <a class="dropdown-item" href="#">Scatter Plot</a>
                <a class="dropdown-item" href="#">Pie Plot</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="/predict">
                <button id="predict-btn" type="button" class="btn btn-primary">Predict Attrition</button>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- NAVBAR HEADER END -->

      <!-- CONTENT START -->
      <div id="content">
        <div class="container">
            <div class="row justify-content-center">
              <h1 class="text-center display-4 my-1">Data Visualization</h1>
              <div class="container">
              <!-- NAV -->
                <ul class="my-4 nav nav-pills nav-fill">
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link text-dark lead" href="{{ url_for('cat_fn') }}">Histogram & Box</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link text-dark lead" href="{{ url_for('scatt_fn') }}">Scatter</a>
                    </li>
                    <li class="nav-item font-weight-bold">
                        <a class="nav-link text-dark lead" href="{{ url_for('pie_fn') }}">Pie</a>
                    </li>
                </ul>
                <!-- EXTEND -->                  
                {% block content %}
                <!-- EXTEND CONTENT -->
                {% endblock %}
              </div>
            </div>
          </div>
      </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>