<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Predict Attrition</title>
    <style>
        #header{
            margin-left: 60px;
        }

        .nav-item{
            margin-left: 20px;
        }

        .nav-item a:hover{
            color: #0278ae !important;
        }

        #active{
            color: #0278ae !important;
        }

        #predict-btn{
            background-color: #fc7e2f;
            font-weight: 500;
            border: none;
        }

        #predict-btn:hover{
          background-color: #c9672a;
        }

        #content{
            margin-top: 30px;
            width: auto;
            min-height: 700px;
        }
        
        #wrapper{
            width: 1000px;
            height: 600px;
            margin: auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <!-- NAVBAR HEADER START -->
    <nav id ="header" class="navbar navbar-expand-lg navbar-light bg-light">
        <b>
          <a class="navbar-brand" href="#">HR Project</a>
        </b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a id="active" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Visualization
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('cat_fn') }}">Histogram & Boxplot</a>
                <a class="dropdown-item" href="{{ url_for('scatt_fn') }}">Scatter Plot</a>
                <a class="dropdown-item" href="{{ url_for('pie_fn') }}">Pie Plot</a>
              </div>
            </li>
            <li class="nav-item">
                <a href="/predict">
                    <button id="predict-btn" type="button" class="btn btn-primary">Predict Attrition</button>
                </a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- NAVBAR HEADER END -->


    <!-- Content -->
    <div id="wrapper">
        <div class="container">
            <div class="row justify-content-center">
              <center>
                <h1>Predict Employee Attrition</h1>
                <p>Employee attrition is where an employee leave the company workforce.</p>
                <br>
                <form method="POST" action="http://127.0.0.1:5000/Attrition_Predict_Result">
                    <br>
                    <div class="form-row" style="width: 800px">
                        <div class="form-group col-md-4" required="required">
                            <label for="MonthlyIncome">Monthly Income:</label>
                            <input type="number" step= "1" class="form-control" style="width: 200px" name="MonthlyIncome" placeholder="Income monthly" required=True>
                        </div>
                        <div class="form-group col-md-4" required="required">
                            <label for="DistanceFromHome">Distance from Home:</label>
                            <input type="number" step= "1" class="form-control" style="width: 200px" name="DistanceFromHome" placeholder="Distance from home" required=True>
                        </div>
                        <div class="form-group col-md-4" required="required">
                            <label for="NumCompaniesWorked">Number of Companies Worked:</label>
                            <input type="number" step= "1" class="form-control" style="width: 200px" name="NumCompaniesWorked" placeholder="Number of companies" required=True>
                        </div>
                    </div>
                        <div class="form-row" style="width: 750px">
                          <div class="form-group col-md-6" style="width: 120px" required="required">
                            <label for="MaritalStatus">Marital Status:</label>
                            <select name="MaritalStatus" class="form-control">
                              <option value="0">Single</option>
                              <option value="1">Married</option>
                              <option value="2">Divorced</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6" style="width: 120px" required="required">
                            <label for="JobSatisfaction">Job Satisfaction:</label>
                            <select name="JobSatisfaction" class="form-control">
                              <option value="0">Low</option>
                              <option value="1">Medium</option>
                              <option value="2">High</option>
                              <option value="3">Very High</option>
                            </select>
                          </div>
                          </div>
                        </div>
                    <br><br>
                    <center>
                        <button type="submit" style="background-color: #fc7e2f; color: white; border: none; font-weight: 500; width: 750px;" class="btn btn-info">
                            Submit
                        </button>
                    </center>
                    
                </form>
            </center>
            </div>  
          </div>
    </div>
    
</body>
</html>